

.choices{
    display: flex;
    /* border: 0px solid grey; */
    margin-bottom: 20px;
    background-color: rgb(112, 86, 86, 0.25);
} 
.choices:hover{
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 250ms;
    background-color: rgb(240, 227, 227, 0.25);
    box-shadow: 0 10px 10px 0 rgb(112, 86, 86);
        
}
/* rgb(90, 184, 90, 0.6); */
.choices .selection{
    background-color: rgb(79, 180, 79, 0.7);
    padding: 10px 15px;
    border-radius: 50%;
    color: white;
    margin-left: 3rem; 
}
.choices .text{
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    width: 100%;
    height:100%;
}

@media (max-width: 390px) {
    .choices .selection {
        margin-left: 1rem;
    }
   
}
#wrapper{
    padding: 2rem;
}
/* Binding classes to check if correct or incorrect */
.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}