

.choices{
    display: flex;
    /* border: 0px solid grey; */
    margin-bottom: 20px;
    background-color: rgb(112, 86, 86, 0.25);
} 
.choices:hover{
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 250ms;
    box-shadow: 0 10px 10px 0 rgb(112, 86, 86);
        
}
.choices .selection{
    background-color: rgb(79, 180, 79, 0.7);
    padding: 10px 15px;
    border-radius: 50%;
    color: white;
    margin-left: 3rem;
}
.choices .text{
    padding-left: 20px;
    padding-top: 10px;
    color: white;
}

@media (max-width: 390px) {
    .choices .selection {
        margin-left: 1rem;
    }
   
}