body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
   
}
.container{
    display: flex;
    align-items: center;
    margin-top: 20vh;
}

.main{
    width: 70%;
    overflow: hidden;
    margin: auto;
    height: 75vh;
    border-radius: 10px;
    background-image: url('../images/wood.jpg');
    background-size: cover;
    background-color: #fff;
    box-shadow: 0 20px 20px 0 rgb(77, 65, 65, 0.);
}

/* Media query */
@media (max-width: 360px) {
.main{
    overflow: scroll;
}
}
@media (max-width: 390px) {
.main{
    overflow: scroll;
}
 .quiz {
     font-size: 5;
 }
}
@media (max-width: 393px) {
.main{
    overflow: scroll;
}
 .quiz {
     font-size: 5;
 }
 .header{
     text-align: center;
 }
 
}
.card-header{
    background-color: rgb(112, 86, 86);
    opacity: 0.7;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}
.card-header .head{
    color: #fff;
}

.buttons{
    width: 50%;
    margin-left: 25vw;
    margin-top: 50px;
}
.btn{
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px 10px;
    width: 15rem;
    border-radius: 10px;
    background-color: white;
    border: 1px solid brown;
    opacity: 0.5;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.btn a{
    text-decoration: none;
    color: black;
}
.btn:hover{
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 250ms;
   
    box-shadow: 0 10px 10px 0 rgb(112, 86, 86); ;

}
/* will be disabled when we accept highscores */
.btn[disabled]:hover{
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

#quiz{
    color: white;
    margin-left: 20px;
    text-align: center;
}

